#btn-redirect-erot
{
    background-color: pink;
    color: blueviolet;
    touch-action: pinch-zoom;
    width: 1000px;
    height: 20px;
    position: absolute;
    border-radius: 10px;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
}

#btn-redirect-song
{
    background-color: aqua;
    color: pink;
    touch-action: pinch-zoom;
    width: 1000px;
    height: 20px;
    position: absolute;
    y: 60px;
    border-radius: 10px;
    left: 50%;
    bottom: 55%;
    transform: translateX(-50%);
}

#btn-redirect-wkzp
{
    background-color: aqua;
    color: pink;
    touch-action: pinch-zoom;
    width: 1000px;
    height: 20px;
    position: absolute;
    bottom: 25vw;
    y: 110px;
    border-radius: 10px;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
}

#functionalities
{
    position: absolute;
    width: 90vw;
    height: 110px;
    border-radius: 8px;
    opacity: 0.75;
    bottom: 10%;
    left: 50%;
    background-color: pink;
    transform: translateX(-50%);
}

body
{
    background-image: 
        url("res/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}