#btn-redirect-erot
{
    background-color: pink;
    color: blueviolet;
    touch-action: pinch-zoom;
    width: 1000px;
    height: 100px;
    y: 10px;
    border-radius: 5px;
}

#btn-redirect-song
{
    background-color: aqua;
    color: pink;
    touch-action: pinch-zoom;
    width: 1000px;
    height: 100px;
    y: 110px;
    border-radius: 5px;
}

#btn-redirect-wkzp
{
    background-color: aqua;
    color: pink;
    touch-action: pinch-zoom;
    width: 1000px;
    height: 100px;
    y: 210px;
    border-radius: 5px;
}

#functionalities
{
    position: absolute;
    width: 1000px;
    height: 230px;
    border-radius: 8px;
    opacity: 0.75;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

body
{
    background-image: 
        url("https://fom477.fomdev.com/res/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}