body
{
    background-image: 
        url("https://fom477.fomdev.com/res/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg
{
    opacity: 0.1;
}

#resource
{
    border-radius: 5px;
    background-color: white;
    color: blueviolet;
    opacity: 0.75;
    height: 95vh;
}